<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <connectionStrings>
  <add name="CGConnection"
       connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\hp\OneDrive\Documents\Visual Studio 2012\WebSites\Classroom Gazette\App_Data\classroom_gazette.mdf;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>